#  План семинара

1. Линейный классификатор в задаче бинарной классификации
2. Кодирование категориальных признаков

## Задача бинарной классификации

### Логистическая регрессия

y = {-1, 1}

$b(x) = \sigma(<w,x>)$,

где $\sigma(z) = \frac{1}{1 + e^{-z}}$

То есть, мы предсказываем $P(y_i = 1| X_i)$ - вероятность того, что наблюдение принадлежит классу +1

Обучаем с помощью функционала: Максимального лог правдоподобия (флэшбек из статистики)

$Q(w) = -\Sigma_{i=0}^{n}(y_i*log(b(x_i)) + (1 - y_i)log(1 - b(x_i))) \rightarrow min_w$

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
np.random.seed(42)

In [4]:
data = pd.read_csv('bike_buyers_clean.csv')

In [7]:
data

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No
1,24107,Married,Male,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No
2,14177,Married,Male,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No
3,24381,Single,Male,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes
4,25597,Single,Male,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000,2,High School,Professional,Yes,2,2-5 Miles,North America,54,Yes
996,28672,Single,Male,70000,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35,Yes
997,11809,Married,Male,60000,2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38,Yes
998,19664,Single,Male,100000,3,Bachelors,Management,No,3,1-2 Miles,North America,38,No
999,12121,Single,Male,60000,3,High School,Professional,Yes,2,10+ Miles,North America,53,Yes

# Обзор данных

In [8]:
# проверим типы колонок в датасете
data.dtypes

ID                   int64
Marital Status      object
Gender              object
Income               int64
Children             int64
Education           object
Occupation          object
Home Owner          object
Cars                 int64
Commute Distance    object
Region              object
Age                  int64
Purchased Bike      object
dtype: object

In [9]:
X = data.iloc[:,:-1]
X.drop(columns='ID', inplace=True)

y = data['Purchased Bike'] # y это наша целевая переменная, купил ли велик. Видимо её надо преобразовать в 0 1

Дропнули ID, чтобы модель не пыталась по нему объяснить какую-то зависимость, потому что он бесполезный и никак не связан с данными

In [10]:
y

0       No
1       No
2       No
3      Yes
4      Yes
      ...
995    Yes
996    Yes
997    Yes
998     No
999    Yes
Name: Purchased Bike, Length: 1000, dtype: object

In [11]:
num_cols = X.columns[X.dtypes == 'int64'].tolist()
cat_cols = X.columns[X.dtypes == 'object']

print(f"We have {len(num_cols)} numeric columns: {', '.join(num_cols)}")
print(f"And {len(cat_cols)} categorical columns: {', '.join(cat_cols)}")

We have 4 numeric columns: Income, Children, Cars, Age
And 7 categorical columns: Marital Status, Gender, Education, Occupation, Home Owner, Commute Distance, Region

In [12]:
for col in cat_cols: # анализируем каждый Х чтобы понять как закодировать. Видимо какие-то бинарно кодируем, какие-то с помощью one hot encoding
    print(col)
    display(X[col].value_counts(normalize=True))
    print()

Marital Status

Married    0.539
Single     0.461
Name: Marital Status, dtype: float64

Gender

Male      0.509
Female    0.491
Name: Gender, dtype: float64

Education

Bachelors              0.306
Partial College        0.265
High School            0.179
Graduate Degree        0.174
Partial High School    0.076
Name: Education, dtype: float64

Occupation

Professional      0.276
Skilled Manual    0.255
Clerical          0.177
Management        0.173
Manual            0.119
Name: Occupation, dtype: float64

Home Owner

Yes    0.685
No     0.315
Name: Home Owner, dtype: float64

Commute Distance

0-1 Miles     0.366
5-10 Miles    0.192
1-2 Miles     0.169
2-5 Miles     0.162
10+ Miles     0.111
Name: Commute Distance, dtype: float64

Region

North America    0.508
Europe           0.300
Pacific          0.192
Name: Region, dtype: float64

In [13]:
# у нас есть категориальные переменные разных видов!

binary_cols = cat_cols[X[cat_cols].nunique() == 2].tolist()
ordinal_cols = ['Commute Distance', 'Education']
cat_cols = cat_cols.difference(binary_cols + ordinal_cols).tolist()

In [14]:
for col in num_cols:
    print(col)
    display(X[col].describe())
    print()

Income

count      1000.000000
mean      56140.000000
std       31081.609779
min       10000.000000
25%       30000.000000
50%       60000.000000
75%       70000.000000
max      170000.000000
Name: Income, dtype: float64

Children

count    1000.000000
mean        1.908000
std         1.626094
min         0.000000
25%         0.000000
50%         2.000000
75%         3.000000
max         5.000000
Name: Children, dtype: float64

Cars

count    1000.000000
mean        1.452000
std         1.124705
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         4.000000
Name: Cars, dtype: float64

Age

count    1000.000000
mean       44.190000
std        11.353537
min        25.000000
25%        35.000000
50%        43.000000
75%        52.000000
max        89.000000
Name: Age, dtype: float64

In [16]:
X.describe()

              Income     Children         Cars          Age
count    1000.000000  1000.000000  1000.000000  1000.000000
mean    56140.000000     1.908000     1.452000    44.190000
std     31081.609779     1.626094     1.124705    11.353537
min     10000.000000     0.000000     0.000000    25.000000
25%     30000.000000     0.000000     1.000000    35.000000
50%     60000.000000     2.000000     1.000000    43.000000
75%     70000.000000     3.000000     2.000000    52.000000
max    170000.000000     5.000000     4.000000    89.000000

In [17]:
# classes are balanced !
y.value_counts(normalize=True) # проверка баланса классов по покупке великов

No     0.519
Yes    0.481
Name: Purchased Bike, dtype: float64

In [18]:
# transform y to numeric column 
y = (y == 'Yes').astype(int) # ну и теперь закодировали бинарный признак в 0 1
y

0      0
1      0
2      0
3      1
4      1
      ..
995    1
996    1
997    1
998    0
999    1
Name: Purchased Bike, Length: 1000, dtype: int64

# Подготовка данных

## Кодирование категориальных признаков

In [21]:
# run if not installed yet

!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.2-py2.py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 1.3 MB/s eta 0:00:01
Requirement already satisfied: pandas>=1.0.5 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.1.3)
Requirement already satisfied: numpy>=1.14.0 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.19.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.3.0)
Requirement already satisfied: patsy>=0.5.1 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.5.1)
Collecting importlib-resources; python_version < "3.9"
  Downloading importlib_resources-6.1.0-py3-none-any.whl (33 kB)
Requirement already satisfied: scipy>=1.0.0 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.12.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.5->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.5->category_encoders) (2020.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: six in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /Users/yanik/opt/anaconda3/lib/python3.8/site-packages (from importlib-resources; python_version < "3.9"->category_encoders) (3.4.0)
Installing collected packages: importlib-resources, category-encoders
Successfully installed category-encoders-2.6.2 importlib-resources-6.1.0

In [22]:
from category_encoders.ordinal import OrdinalEncoder # LabelEncoder
from category_encoders.one_hot import OneHotEncoder # OneHotEncoding
from category_encoders.target_encoder import TargetEncoder # счетчики+сглаживание

In [ ]:
X['Education'].unique()

In [23]:
# Ordinal: from categories to numbers

ord_enc = OrdinalEncoder()
ord_enc.fit_transform(X['Education']) # это мы просто категоризировали в одной колонке все варианты признака

     Education
0            1
1            2
2            2
3            1
4            1
..         ...
995          3
996          5
997          1
998          1
999          3

[1000 rows x 1 columns]

In [33]:
# One hot: from k categories to k dummy columns
from sklearn.preprocessing import OneHotEncoder
one_hot_enc = OneHotEncoder(drop='first')

x = one_hot_enc.fit_transform(X[['Education']]) # разряженная матрица - раскидывает массив по столбцам 1 и 0 
# * fit -> определить количество новых столбцов (по кол-ву категорий)
# * transform -> создать новые столбцы
# * fit_transform = fit + transform

# Нужно ли удалять какую-то из колонок после такого кодирования ? - нужно 

pd.DataFrame.sparse.from_spmatrix(x)

       0    1    2    3
0    0.0  0.0  0.0  0.0
1    0.0  0.0  1.0  0.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0
..   ...  ...  ...  ...
995  0.0  1.0  0.0  0.0
996  1.0  0.0  0.0  0.0
997  0.0  0.0  0.0  0.0
998  0.0  0.0  0.0  0.0
999  0.0  1.0  0.0  0.0

[1000 rows x 4 columns]

Target encoding вычисляет значения по формуле

$$\frac{mean(target)\cdot n_{rows} + \alpha \cdot globalMean}{n_{rows} + \alpha} $$

In [34]:
# target encoding: from k categories to posterior probabilites of y == 1 - P(y==1 | category == c1)

tgt_enc = TargetEncoder(smoothing=1)

# smoothing - это коэффициент сглаживания alpha, чем он больше, тем больше регуляризация

tgt_enc.fit_transform(X['Education'], y)

     Education
0     0.552288
1     0.449057
2     0.449057
3     0.552288
4     0.552288
..         ...
995   0.441341
996   0.540230
997   0.552288
998   0.552288
999   0.441341

[1000 rows x 1 columns]

In [35]:
# энкодер можно применять сразу на весь датафрейм

tgt_enc = TargetEncoder(cols=['Education', 'Gender', 'Region'])
tgt_enc.fit_transform(X, y)

,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age
0,Married,0.486762,40000,1,0.552288,Skilled Manual,Yes,0,0-1 Miles,0.493333,42
1,Married,0.475442,30000,3,0.449057,Clerical,Yes,1,0-1 Miles,0.493333,43
2,Married,0.475442,80000,5,0.449057,Professional,No,2,2-5 Miles,0.493333,60
3,Single,0.475442,70000,0,0.552288,Professional,Yes,1,5-10 Miles,0.588542,41
4,Single,0.475442,30000,0,0.552288,Clerical,No,0,0-1 Miles,0.493333,36
...,...,...,...,...,...,...,...,...,...,...,...
995,Married,0.475442,60000,2,0.441341,Professional,Yes,2,2-5 Miles,0.433071,54
996,Single,0.475442,70000,4,0.540230,Professional,Yes,0,2-5 Miles,0.433071,35
997,Married,0.475442,60000,2,0.552288,Skilled Manual,Yes,0,0-1 Miles,0.433071,38
998,Single,0.475442,100000,3,0.552288,Management,No,3,1-2 Miles,0.433071,38
999,Single,0.475442,60000,3,0.441341,Professional,Yes,2,10+ Miles,0.433071,53

Помимо сглаживания, для борьбы с переобучением при таргет энкодинге в лекции предлагались и другие методы

- Добавление случайного шума
- Вычисление счетчиков на кросс-валидации
- Expanding mean encoding

Первые две идеи реализованы в классе LeaveOneOut

- значения считаются на основе кросс-валидации вида leave one out (то есть значение энкодинга для конкретного наблюдения будет считаться по всем наблюдениям, кроме этого)
- параметр sigma отвечает за дисперсию случайного шума, который добавляется к значению энкодинга (чем больше sigma, тем больше регуляризация)

In [36]:
from category_encoders.leave_one_out import LeaveOneOutEncoder

loo_enc = LeaveOneOutEncoder(sigma=3.)

loo_enc.fit_transform(X['Education'], y)

     Education
0     1.379784
1     0.263787
2     1.326609
3     3.067564
4     0.163891
..         ...
995   0.068666
996   3.436731
997   1.609786
998  -0.395370
999   1.190923

[1000 rows x 1 columns]

## Масштабирование числовых признаков

In [48]:
X['Income']

0       40000
1       30000
2       80000
3       70000
4       30000
        ...
995     60000
996     70000
997     60000
998    100000
999     60000
Name: Income, Length: 1000, dtype: int64

In [49]:
from sklearn.preprocessing import StandardScaler # крч норм будет признаки привести к одному масштабу, чтобы норм можно было интерпретировать. Типа y=5x1+100000x2 кажется что у x2 ебать большое изменение, но по факту x2 может быть очень маленьким сам по себе, а  x1 очень большим

scaler = StandardScaler()
scaler.fit_transform(X[['Income']])

array([[-0.51953796],
       [-0.8414326 ],
       [ 0.76804062],
       [ 0.44614598],
       [-0.8414326 ],
       [-1.48522189],
       [ 3.34319779],
       [-0.51953796],
       [-1.16332725],
       [-1.16332725],
       [-0.8414326 ],
       [ 1.08993527],
       [ 3.66509243],
       [-0.51953796],
       [ 0.12425133],
       [-1.48522189],
       [-0.8414326 ],
       [-0.8414326 ],
       [-0.51953796],
       [-1.16332725],
       [-0.51953796],
       [ 0.76804062],
       [-0.51953796],
       [ 0.76804062],
       [-0.51953796],
       [-0.8414326 ],
       [-0.8414326 ],
       [ 1.41182991],
       [ 0.44614598],
       [-1.16332725],
       [-1.16332725],
       [-1.48522189],
       [-1.16332725],
       [ 0.76804062],
       [ 1.08993527],
       [-1.48522189],
       [-1.48522189],
       [-0.8414326 ],
       [-1.16332725],
       [-1.48522189],
       [-0.8414326 ],
       [-0.51953796],
       [-1.48522189],
       [ 3.66509243],
       [-1.16332725],
       [-1.16332725],
       [ 0.12425133],
       [-0.51953796],
       [-0.8414326 ],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.76804062],
       [-1.16332725],
       [ 1.08993527],
       [ 0.44614598],
       [ 0.76804062],
       [-0.51953796],
       [ 2.37751385],
       [-0.51953796],
       [ 0.12425133],
       [-1.48522189],
       [-1.48522189],
       [-0.51953796],
       [ 0.12425133],
       [-0.8414326 ],
       [-0.8414326 ],
       [-0.51953796],
       [-0.8414326 ],
       [-1.16332725],
       [-1.48522189],
       [ 2.0556192 ],
       [-1.48522189],
       [ 2.37751385],
       [-1.16332725],
       [-1.16332725],
       [ 2.37751385],
       [-1.16332725],
       [ 0.76804062],
       [ 0.76804062],
       [-0.51953796],
       [-0.8414326 ],
       [-1.48522189],
       [-0.8414326 ],
       [-1.16332725],
       [-0.51953796],
       [-1.48522189],
       [ 2.37751385],
       [ 0.76804062],
       [-0.8414326 ],
       [-1.16332725],
       [-0.8414326 ],
       [-0.8414326 ],
       [ 0.12425133],
       [-0.8414326 ],
       [-0.8414326 ],
       [ 1.08993527],
       [-0.8414326 ],
       [-0.51953796],
       [-0.51953796],
       [-1.16332725],
       [-1.48522189],
       [ 0.12425133],
       [-1.48522189],
       [ 0.12425133],
       [ 0.44614598],
       [-0.8414326 ],
       [ 0.44614598],
       [-0.51953796],
       [-0.51953796],
       [-0.51953796],
       [-1.16332725],
       [ 0.44614598],
       [-0.51953796],
       [ 2.37751385],
       [-1.16332725],
       [-1.48522189],
       [-0.8414326 ],
       [-1.16332725],
       [ 0.76804062],
       [-0.8414326 ],
       [-0.51953796],
       [ 3.02130314],
       [ 0.76804062],
       [ 1.41182991],
       [-0.51953796],
       [ 0.76804062],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.48522189],
       [-1.48522189],
       [ 0.12425133],
       [ 1.08993527],
       [-0.51953796],
       [-0.51953796],
       [-0.8414326 ],
       [-1.48522189],
       [-1.48522189],
       [-1.16332725],
       [-1.16332725],
       [-0.8414326 ],
       [-0.51953796],
       [-1.48522189],
       [-0.51953796],
       [ 0.76804062],
       [-0.8414326 ],
       [-0.51953796],
       [-0.51953796],
       [-0.51953796],
       [-1.16332725],
       [-0.8414326 ],
       [ 0.12425133],
       [ 1.41182991],
       [-1.16332725],
       [ 1.41182991],
       [ 0.76804062],
       [-1.48522189],
       [ 2.37751385],
       [-1.48522189],
       [-1.16332725],
       [-1.48522189],
       [ 0.12425133],
       [-1.16332725],
       [ 0.12425133],
       [-0.51953796],
       [-1.48522189],
       [-1.48522189],
       [ 1.08993527],
       [ 1.41182991],
       [ 0.44614598],
       [-0.8414326 ],
       [ 2.37751385],
       [ 0.76804062],
       [-1.48522189],
       [-1.48522189],
       [-0.19764331],
       [ 0.76804062],
       [-1.16332725],
       [ 1.73372456],
       [ 3.34319779],
       [-1.48522189],
       [-1.48522189],
       [-0.8414326 ],
       [-1.48522189],
       [-0.51953796],
       [ 2.37751385],
       [ 1.08993527],
       [-0.8414326 ],
       [ 0.76804062],
       [ 0.44614598],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.48522189],
       [ 0.76804062],
       [ 0.44614598],
       [-1.48522189],
       [-1.16332725],
       [-0.19764331],
       [ 0.12425133],
       [ 1.41182991],
       [ 0.76804062],
       [ 0.12425133],
       [-1.48522189],
       [-0.51953796],
       [ 0.12425133],
       [ 1.08993527],
       [-0.8414326 ],
       [ 1.08993527],
       [-1.16332725],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.76804062],
       [-0.19764331],
       [-0.8414326 ],
       [ 0.44614598],
       [-0.8414326 ],
       [ 0.76804062],
       [-1.16332725],
       [-1.16332725],
       [-1.48522189],
       [-1.48522189],
       [ 0.12425133],
       [-1.48522189],
       [-0.8414326 ],
       [ 0.44614598],
       [-0.8414326 ],
       [-1.16332725],
       [-1.16332725],
       [-1.48522189],
       [-1.16332725],
       [ 0.76804062],
       [ 2.0556192 ],
       [-0.51953796],
       [-0.8414326 ],
       [-1.16332725],
       [ 1.08993527],
       [-1.48522189],
       [-0.8414326 ],
       [-1.48522189],
       [ 0.44614598],
       [-0.8414326 ],
       [-1.48522189],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.16332725],
       [ 2.0556192 ],
       [ 1.73372456],
       [ 2.37751385],
       [ 1.41182991],
       [-1.48522189],
       [ 0.44614598],
       [ 1.41182991],
       [ 2.37751385],
       [ 0.12425133],
       [ 1.41182991],
       [-1.16332725],
       [-0.8414326 ],
       [-1.16332725],
       [-0.19764331],
       [ 1.41182991],
       [ 3.02130314],
       [-0.8414326 ],
       [-0.51953796],
       [-1.48522189],
       [ 0.44614598],
       [-0.51953796],
       [-0.8414326 ],
       [-1.16332725],
       [ 1.41182991],
       [ 0.44614598],
       [-0.19764331],
       [-1.48522189],
       [-1.16332725],
       [-1.48522189],
       [-1.16332725],
       [-0.8414326 ],
       [ 1.08993527],
       [-1.48522189],
       [-1.48522189],
       [ 1.41182991],
       [-0.8414326 ],
       [-1.48522189],
       [-1.16332725],
       [-1.48522189],
       [ 0.44614598],
       [-1.48522189],
       [ 0.12425133],
       [ 1.41182991],
       [-0.8414326 ],
       [ 2.37751385],
       [-0.8414326 ],
       [ 0.12425133],
       [-0.51953796],
       [-0.51953796],
       [-1.48522189],
       [-1.16332725],
       [ 1.73372456],
       [ 0.12425133],
       [ 1.41182991],
       [ 1.08993527],
       [-0.8414326 ],
       [-1.48522189],
       [-1.16332725],
       [-0.8414326 ],
       [-0.8414326 ],
       [ 0.76804062],
       [-1.48522189],
       [ 1.08993527],
       [-1.48522189],
       [-0.51953796],
       [-1.16332725],
       [ 2.0556192 ],
       [ 0.12425133],
       [-1.16332725],
       [-0.51953796],
       [ 0.76804062],
       [ 0.44614598],
       [-0.19764331],
       [-0.8414326 ],
       [ 2.37751385],
       [-0.8414326 ],
       [ 1.41182991],
       [ 3.34319779],
       [-1.48522189],
       [-0.51953796],
       [ 1.08993527],
       [-0.51953796],
       [-1.16332725],
       [-0.8414326 ],
       [-0.51953796],
       [ 1.08993527],
       [ 0.76804062],
       [-1.48522189],
       [-1.16332725],
       [ 2.37751385],
       [ 1.08993527],
       [ 0.76804062],
       [-1.16332725],
       [-1.48522189],
       [ 2.0556192 ],
       [-1.16332725],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.48522189],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.16332725],
       [-0.51953796],
       [ 0.12425133],
       [-1.16332725],
       [-0.8414326 ],
       [-1.16332725],
       [-1.48522189],
       [ 0.76804062],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.76804062],
       [ 3.02130314],
       [-1.48522189],
       [ 1.08993527],
       [ 0.76804062],
       [ 2.37751385],
       [-0.8414326 ],
       [-0.51953796],
       [-0.51953796],
       [-1.48522189],
       [-0.51953796],
       [ 0.12425133],
       [ 2.37751385],
       [-0.8414326 ],
       [-1.16332725],
       [ 1.41182991],
       [ 0.76804062],
       [-0.51953796],
       [-1.16332725],
       [ 0.76804062],
       [-0.51953796],
       [-1.16332725],
       [ 2.37751385],
       [-0.8414326 ],
       [ 0.12425133],
       [ 0.44614598],
       [-0.8414326 ],
       [ 0.76804062],
       [-0.51953796],
       [-1.48522189],
       [-0.8414326 ],
       [ 2.0556192 ],
       [-1.16332725],
       [-0.8414326 ],
       [ 0.76804062],
       [ 0.44614598],
       [ 0.44614598],
       [-1.16332725],
       [-1.48522189],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.12425133],
       [-1.48522189],
       [-0.8414326 ],
       [-0.51953796],
       [ 1.73372456],
       [-0.51953796],
       [-1.48522189],
       [-1.16332725],
       [-0.8414326 ],
       [-0.8414326 ],
       [-0.51953796],
       [ 1.08993527],
       [-0.51953796],
       [ 2.37751385],
       [-1.16332725],
       [ 0.44614598],
       [-0.51953796],
       [-0.8414326 ],
       [-0.51953796],
       [ 0.76804062],
       [ 0.12425133],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.48522189],
       [ 1.41182991],
       [-1.48522189],
       [ 1.73372456],
       [-0.8414326 ],
       [-1.48522189],
       [-0.51953796],
       [-0.8414326 ],
       [ 1.08993527],
       [ 1.73372456],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.16332725],
       [ 1.73372456],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.48522189],
       [ 0.76804062],
       [-0.8414326 ],
       [ 0.76804062],
       [ 0.44614598],
       [ 1.08993527],
       [ 0.76804062],
       [ 0.76804062],
       [-0.51953796],
       [-0.8414326 ],
       [-0.51953796],
       [ 2.37751385],
       [-0.51953796],
       [-0.8414326 ],
       [-0.51953796],
       [-1.48522189],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.44614598],
       [-0.8414326 ],
       [ 0.76804062],
       [ 2.0556192 ],
       [-1.16332725],
       [ 2.0556192 ],
       [ 0.76804062],
       [-1.16332725],
       [ 2.0556192 ],
       [-0.51953796],
       [-1.16332725],
       [-0.8414326 ],
       [-0.51953796],
       [-0.8414326 ],
       [ 1.41182991],
       [ 0.76804062],
       [-0.8414326 ],
       [-0.8414326 ],
       [ 0.44614598],
       [-0.51953796],
       [-0.8414326 ],
       [ 1.08993527],
       [-1.16332725],
       [ 0.44614598],
       [ 0.44614598],
       [-0.8414326 ],
       [-0.51953796],
       [ 1.08993527],
       [-0.51953796],
       [-0.51953796],
       [-1.48522189],
       [-0.8414326 ],
       [-0.8414326 ],
       [ 1.08993527],
       [-0.51953796],
       [-1.48522189],
       [-1.16332725],
       [ 0.12425133],
       [ 0.44614598],
       [-0.51953796],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.76804062],
       [-0.51953796],
       [ 0.12425133],
       [-0.19764331],
       [-0.51953796],
       [ 2.37751385],
       [ 0.44614598],
       [ 1.41182991],
       [ 0.44614598],
       [-0.51953796],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.76804062],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.76804062],
       [ 1.41182991],
       [-0.51953796],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.76804062],
       [ 0.12425133],
       [ 1.73372456],
       [-0.19764331],
       [-0.8414326 ],
       [ 0.12425133],
       [ 0.12425133],
       [-0.8414326 ],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [-0.19764331],
       [ 0.76804062],
       [-0.51953796],
       [ 0.76804062],
       [ 0.44614598],
       [ 0.44614598],
       [-0.19764331],
       [-0.51953796],
       [ 0.44614598],
       [ 2.0556192 ],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.76804062],
       [ 2.37751385],
       [ 0.44614598],
       [-0.19764331],
       [ 0.12425133],
       [-0.51953796],
       [ 0.12425133],
       [-0.19764331],
       [ 0.76804062],
       [-0.51953796],
       [-0.19764331],
       [ 0.12425133],
       [ 0.12425133],
       [-1.16332725],
       [ 0.44614598],
       [-0.8414326 ],
       [-0.8414326 ],
       [-0.51953796],
       [ 0.12425133],
       [-0.51953796],
       [ 0.44614598],
       [-0.19764331],
       [ 0.44614598],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.12425133],
       [-0.51953796],
       [ 2.0556192 ],
       [ 0.12425133],
       [-0.51953796],
       [ 0.12425133],
       [-0.51953796],
       [ 0.76804062],
       [ 0.12425133],
       [ 0.44614598],
       [ 2.0556192 ],
       [ 0.12425133],
       [ 2.37751385],
       [ 1.08993527],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [ 0.76804062],
       [ 0.44614598],
       [ 0.76804062],
       [-1.16332725],
       [ 1.08993527],
       [-0.51953796],
       [ 2.37751385],
       [ 0.12425133],
       [-0.8414326 ],
       [ 0.76804062],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [ 0.44614598],
       [-0.51953796],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.76804062],
       [-0.8414326 ],
       [ 1.73372456],
       [ 1.41182991],
       [ 0.12425133],
       [ 0.76804062],
       [-0.51953796],
       [-1.16332725],
       [-0.51953796],
       [ 1.41182991],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.76804062],
       [-0.19764331],
       [-0.51953796],
       [ 0.44614598],
       [ 0.76804062],
       [ 2.37751385],
       [ 0.12425133],
       [-0.8414326 ],
       [ 2.0556192 ],
       [-0.51953796],
       [ 0.44614598],
       [ 1.41182991],
       [ 0.12425133],
       [-0.19764331],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [-0.8414326 ],
       [-0.51953796],
       [-0.51953796],
       [ 0.12425133],
       [ 0.44614598],
       [-0.19764331],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [ 1.41182991],
       [ 0.44614598],
       [ 0.76804062],
       [ 2.37751385],
       [ 0.12425133],
       [-0.51953796],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.12425133],
       [-0.51953796],
       [ 0.44614598],
       [-0.8414326 ],
       [ 1.41182991],
       [-0.51953796],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.76804062],
       [-1.16332725],
       [ 1.08993527],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.12425133],
       [-0.8414326 ],
       [ 2.37751385],
       [-0.19764331],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.76804062],
       [ 0.12425133],
       [-0.8414326 ],
       [-1.16332725],
       [ 1.08993527],
       [ 0.44614598],
       [-0.8414326 ],
       [ 2.0556192 ],
       [-0.19764331],
       [-0.51953796],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [-0.51953796],
       [ 0.44614598],
       [-0.51953796],
       [ 0.12425133],
       [ 0.76804062],
       [ 1.08993527],
       [ 0.44614598],
       [ 0.44614598],
       [-0.51953796],
       [ 1.73372456],
       [ 0.44614598],
       [ 0.76804062],
       [-0.8414326 ],
       [ 2.37751385],
       [-1.16332725],
       [ 0.44614598],
       [-0.51953796],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.12425133],
       [ 2.37751385],
       [ 2.37751385],
       [-0.8414326 ],
       [-0.51953796],
       [ 0.44614598],
       [-0.51953796],
       [ 0.12425133],
       [-0.51953796],
       [-0.51953796],
       [-0.8414326 ],
       [ 1.73372456],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.44614598],
       [ 2.37751385],
       [ 0.44614598],
       [-0.8414326 ],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [-0.51953796],
       [ 0.12425133],
       [-0.51953796],
       [-0.8414326 ],
       [ 0.76804062],
       [ 0.12425133],
       [-1.16332725],
       [ 0.12425133],
       [-0.19764331],
       [-0.19764331],
       [ 0.12425133],
       [ 0.44614598],
       [-0.19764331],
       [ 0.12425133],
       [ 2.0556192 ],
       [ 1.41182991],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.44614598],
       [ 0.44614598],
       [-0.51953796],
       [ 1.08993527],
       [ 0.76804062],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.44614598],
       [ 0.12425133],
       [-1.48522189],
       [-0.51953796],
       [-0.19764331],
       [ 0.44614598],
       [-1.16332725],
       [ 0.12425133],
       [ 0.76804062],
       [-0.51953796],
       [-0.8414326 ],
       [-0.8414326 ],
       [-0.19764331],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.12425133],
       [-0.8414326 ],
       [-0.19764331],
       [ 0.12425133],
       [ 0.44614598],
       [-0.51953796],
       [-0.51953796],
       [-0.51953796],
       [-0.51953796],
       [-1.48522189],
       [ 0.12425133],
       [-0.8414326 ],
       [-0.51953796],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.44614598],
       [-0.51953796],
       [ 0.12425133],
       [ 0.12425133],
       [-0.51953796],
       [-0.51953796],
       [ 1.73372456],
       [ 0.12425133],
       [-0.8414326 ],
       [ 0.44614598],
       [ 1.73372456],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.76804062],
       [-0.51953796],
       [ 3.66509243],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [ 0.44614598],
       [ 0.12425133],
       [-0.51953796],
       [ 0.12425133],
       [ 0.76804062],
       [ 0.76804062],
       [ 0.44614598],
       [ 2.0556192 ],
       [ 0.12425133],
       [ 0.76804062],
       [-0.51953796],
       [-1.16332725],
       [ 0.44614598],
       [-0.51953796],
       [ 2.37751385],
       [-0.51953796],
       [ 2.37751385],
       [ 0.12425133],
       [-0.19764331],
       [ 0.12425133],
       [ 0.12425133],
       [-0.8414326 ],
       [-0.51953796],
       [ 0.12425133],
       [-0.51953796],
       [-0.8414326 ],
       [-0.8414326 ],
       [-1.16332725],
       [-0.19764331],
       [ 0.76804062],
       [-0.51953796],
       [ 0.76804062],
       [ 0.12425133],
       [ 0.44614598],
       [-0.8414326 ],
       [ 1.73372456],
       [ 0.12425133],
       [ 0.12425133],
       [ 0.44614598],
       [-0.19764331],
       [-0.8414326 ],
       [ 0.44614598],
       [-0.8414326 ],
       [ 0.44614598],
       [-0.19764331],
       [ 1.08993527],
       [ 0.76804062],
       [ 0.76804062],
       [-0.8414326 ],
       [ 0.12425133],
       [ 0.76804062],
       [-1.16332725],
       [ 0.44614598],
       [-0.19764331],
       [ 0.12425133],
       [ 0.44614598],
       [-0.51953796],
       [ 1.41182991],
       [ 0.44614598],
       [ 0.12425133],
       [ 0.44614598],
       [-0.19764331],
       [-0.19764331],
       [-0.8414326 ],
       [ 0.44614598],
       [ 0.44614598],
       [-0.51953796],
       [ 0.12425133],
       [ 0.76804062],
       [ 1.08993527],
       [ 0.12425133],
       [ 1.08993527],
       [ 0.12425133],
       [-0.19764331],
       [-0.19764331],

Есть две проблемы:
- класc StandardScaler не умеет работать только на части колонок датафрейма
- классы sklearn возвращают numpy arrays, а не pandas dataframe, что не удобно

In [50]:
num_cols

['Income', 'Children', 'Cars', 'Age']

In [51]:
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([('scaler', StandardScaler(), num_cols)], remainder='passthrough') # 'drop'

In [52]:
ct.fit_transform(X)

array([[-0.5195379574051056, -0.5586728696623785, -1.2916513760469168,
        ..., 'Yes', '0-1 Miles', 'Europe'],
       [-0.8414326026375131, 0.6718841119728166, -0.4020843126537234,
        ..., 'Yes', '0-1 Miles', 'Europe'],
       [0.7680406235245242, 1.9024410936080116, 0.48748275073947, ...,
        'No', '2-5 Miles', 'Europe'],
       ...,
       [0.12425133305970927, 0.05660562115521903, -1.2916513760469168,
        ..., 'Yes', '0-1 Miles', 'North America'],
       [1.4118299139893389, 0.6718841119728166, 1.3770498141326635, ...,
        'No', '1-2 Miles', 'North America'],
       [0.12425133305970927, 0.6718841119728166, 0.48748275073947, ...,
        'Yes', '10+ Miles', 'North America']], dtype=object)

In [53]:
# нет удобной реализации - напишем сами !

from sklearn.base import TransformerMixin

class CustomScaler(TransformerMixin):
    def __init__(self, cols, scaler=None):
        self.cols = cols
        self.scaler = scaler or StandardScaler()

    def fit(self, X, y=None):
        num_cols = X.copy()[self.cols]
        self.scaler.fit(num_cols)
        return self
    def transform(self, X, y=None):
        X_res = X.copy()
        num_cols_tr = self.scaler.transform(X_res[self.cols])
        for i, col in enumerate(self.cols):
            X_res[col] = num_cols_tr[:,i]
        return X_res

In [54]:
sc = CustomScaler(num_cols)
X2 = sc.fit_transform(X)

In [55]:
X2

,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age
0,Married,Female,-0.519538,-0.558673,Bachelors,Skilled Manual,Yes,-1.291651,0-1 Miles,Europe,-0.192988
1,Married,Male,-0.841433,0.671884,Partial College,Clerical,Yes,-0.402084,0-1 Miles,Europe,-0.104866
2,Married,Male,0.768041,1.902441,Partial College,Professional,No,0.487483,2-5 Miles,Europe,1.393214
3,Single,Male,0.446146,-1.173951,Bachelors,Professional,Yes,-0.402084,5-10 Miles,Pacific,-0.281110
4,Single,Male,-0.841433,-1.173951,Bachelors,Clerical,No,-1.291651,0-1 Miles,Europe,-0.721722
...,...,...,...,...,...,...,...,...,...,...,...
995,Married,Male,0.124251,0.056606,High School,Professional,Yes,0.487483,2-5 Miles,North America,0.864480
996,Single,Male,0.446146,1.287163,Graduate Degree,Professional,Yes,-1.291651,2-5 Miles,North America,-0.809844
997,Married,Male,0.124251,0.056606,Bachelors,Skilled Manual,Yes,-1.291651,0-1 Miles,North America,-0.545477
998,Single,Male,1.411830,0.671884,Bachelors,Management,No,1.377050,1-2 Miles,North America,-0.545477
999,Single,Male,0.124251,0.671884,High School,Professional,Yes,0.487483,10+ Miles,North America,0.776358

# Соберем все преобразования данных в pipeline

In [56]:
# pipeline применяем каждый раз вместо этой хуйни:
X, y = ...
oen = Ordinal..()
oen.fit()
oen.transf()

oen = Skaler..()
oen.fit()
oen.transf()

SyntaxError: invalid syntax (<ipython-input-56-27f564f011b1>, line 3)

Вот мы применяем pipeline:

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

p1 = Pipeline([
    ('ordinal_encoder_', OrdinalEncoder(cols=ordinal_cols + binary_cols + cat_cols)), # плохо!!!
    ('scaler_', CustomScaler(num_cols)),
    ('model_', LogisticRegression())
    ])

p2 = Pipeline([
    ('one_hot_encoder_', OneHotEncoder(cols=ordinal_cols + binary_cols+cat_cols)),
    ('scaler_', CustomScaler(num_cols)),
    ('model_', LogisticRegression())
    ])

p3 = Pipeline([
    ('target_encoder_', TargetEncoder(cols=ordinal_cols + binary_cols+cat_cols)),
    ('scaler_', CustomScaler(num_cols)),
    ('model_', LogisticRegression())
])

p4 = Pipeline([
    ('ordinal_encoder_', OrdinalEncoder(cols=ordinal_cols)),
    ('one_hot_encoder_', OneHotEncoder(cols=binary_cols+cat_cols)),
    ('scaler_', CustomScaler(num_cols)),
    ('model_', LogisticRegression())
    ])

p5 = Pipeline([
    ('ordinal_encoder_', OrdinalEncoder(cols=ordinal_cols)),
    ('one_hot_encoder_', OneHotEncoder(cols=binary_cols)),
    ('target_encoder_', TargetEncoder(cols=cat_cols)),
    ('scaler_', CustomScaler(num_cols)),
    ('model_', LogisticRegression())
])

p6 = Pipeline([
    ('one_hot_encoder_', OneHotEncoder(cols=binary_cols)),
    ('target_encoder_', TargetEncoder(cols=cat_cols + ordinal_cols)),
    ('scaler_', CustomScaler(num_cols)),
    ('model_', LogisticRegression())
])

TypeError: __init__() got an unexpected keyword argument 'cols'

In [77]:
# пример работы с пайплайном
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y)

p1.fit(X_train, y_train)

#print(p1)

y_pred = p1.predict(X_test)

print(accuracy_score(y_test, y_pred))

0.644

# Сравнение качества классификации при разных пайплайнах преобразования данных

Вообще существует довольно большое количество метрик для задачи бинарной классификации (о них будет подробно рассказано на лекциях)

Но для нашей задачи разберем самую простую и интуитивную метрику: accuracy

$accuracy = \frac{1}{n}\Sigma_{i=0}^n [\hat y_i == y_i]$

То есть доля правильных предсказаний

In [78]:
from sklearn.model_selection import cross_validate, cross_val_score
import warnings

warnings.filterwarnings('ignore')

In [ ]:
for i, pipe in enume

In [79]:
for i, pipe in enumerate([p1, p2, p3, p4, p5, p6]):
    cv_res = cross_validate(pipe,
                            X,
                            y,
                            cv=5,
                            scoring='accuracy'
                           )
    print(f"Pipeline {i + 1}: mean cv accuracy = {cv_res['test_score'].mean()}")

NameError: name 'p2' is not defined